*gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore
.gitlab-ci.yml export-ignore
.travis.yml export-ignore
.github export-ignore
data export-ignore
releasenotes export-ignore
doc/*.png export-ignore
doc/help-output.txt export-ignore
doc/sizing.svg export-ignore
doc/Notes export-ignore
doc/old-theme-convert-output.rasi export-ignore
doc/test_xr.txt export-ignore
doc/create_screenshot.sh export-ignore
doc/README.md export-ignore
doc/meson_build_manpages.sh export-ignore
script/*.jpg export-ignore
